<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Logger Configuration -->
    <appender name="ConsoleLoggerStdOut" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{50} | %gray(%M) %-3line - %msg%n%rEx</Pattern>
        </layout>

        <springProfile name="cloud">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <rootCauseFirst>true</rootCauseFirst>
                </throwableConverter>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <level>severity</level>
                    <message>message</message>
                    <thread>thread</thread>
                    <logger>logger</logger>
                    <stackTrace>stack_trace</stackTrace>
                    <mdc>mdc</mdc>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                </fieldNames>
            </encoder>
        </springProfile>
    </appender>

    <!-- Rolling File Appender Configuration -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="ConsoleLoggerStdOut"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
